# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.vscode/
*.vscode


# Virtual enviornment and temp directories
env/
.eslintcache
other/

# Image Files
*.jpg
*.png

# OS Specific Binaries
*.pyc
__pycache__/

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
